body {
    margin: 0;
    height: 100vh;
    font-family: Arial;
    background: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    width: 340px;
    padding: 35px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.signup-box h2 {
    margin-bottom: 8px;
}

.signup-box p {
    color: #666;
    margin-bottom: 20px;
}

/* Inputs */
.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.input-box label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #999;
    transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -8px;
    font-size: 12px;
    background: white;
    padding: 0 5px;
    color: #2b7bbb;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #2b7bbb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #1f5f91;
}
